<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Active</title>
    <style>
        .container {
            max-width: 700px;
            margin: 0 auto;
            text-align: center;
        }

        h1 {
            color: chocolate;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 25px;
        }

        h2 {
            color: darkslategrey;
            font-size: 15px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>24DEV078 JEEL PATEL</h1>
        <P>Your account has been activated</P>
        <a href="/">Go Home</a>
    </div>
</body>

</html>