<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            width: 700px;
            margin: auto;
            text-align: center;
        }

        .nav {

            margin-top: 50px;
            display: flex;
            flex-direction: column;

        }

        h1 {
            font-size: 25px;
            font-family: sans-serif;
            color: cadetblue;
        }

        a {
            padding: 50px;
            text-decoration: none;
            font-size: 20px;
            color: black;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>24DEV078 JEEL PATEL</h1>
        <div class="nav">
            <a href="/ajaxdatainsert">Click here to Insert data</a>
            <a href="/ajaxupdate">Click here to Update data</a>
        </div>
    </div>
</body>

</html>