<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        h1 {
            font-size: 30px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: cadetblue;
        }

        a {
            text-decoration: none;
            /* color: darkslategray; */
            /* font-weight: bold; */
            color: black;
        }

        /* p {
            color: darkcyan;
        } */


        li {
            height: 30px;
            text-decoration: none;
            border: 1px solid black;
            list-style-type: none;
            background-color: cadetblue;
        }

        .container {
            max-width: 700px;
            text-align: center;
            margin: 0 auto;
        }

        td {
            border: 1px solid black;
            width: 230px;
            background-color: cadetblue;
            text-align: center;
        }

        th {
            border: 1px solid black;
            background-color: crimson;
        }

        .table {
            width: 80%;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>24DEV078 JEEL PATEL</h1>
        <p>Login Succeessful!!!</p>
        <table>
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Task</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Dynamic Table</td>
                    <td><a href="/Dashboard/dynamictable">Click Here</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Kukucube</td>
                    <td><a href="/Dashboard/kukucube">Click Here</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td> Tiktactoe</td>
                    <td><a href="/Dashboard/tiktactoe">Click Here</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td> Event Table</td>
                    <td><a href="/Dashboard/eventtable">Click Here</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td> Merge Sort</td>
                    <td><a href="/Dashboard/Mergesort">Click Here</a></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td> Listing of data with pagination</td>
                    <td><a href="/listdatabase">Click Here</a></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td> Adding sorting with pagination</td>
                    <td><a href="/Dashboard/orderby">Click Here</a></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td> Attendence Report</td>
                    <td><a href="/report">Click Here</a></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td> Exam Records</td>
                    <td><a href="/result">Click Here</a></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td> Searching Exercise</td>
                    <td><a href="/Dashboard/searching">Click Here</a></td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Delimeter Search Exercise</td>
                    <td><a href="/Dashboard/delimetersearch">Click Here</a></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Json Web Api Exercise</td>
                    <td><a href="/Dashboard/postapi">Click Here</a></td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>State-City combo using ajax</td>
                    <td><a href="/Dashboard/statecity">Click Here</a></td>
                </tr>
                <tr>
                    <td>14</td>
                    <td> Job Applicatin form Using Ajax</td>
                    <td><a href="/Dashboard/ajaxform">Click Here</a></td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>HTML - CSS TASK: 1</td>
                    <td><a href="/Dashboard/htmlcsstask1">Click Here</a></td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>HTML - CSS TASK: 2</td>
                    <td><a href="/Dashboard/htmlcsstask2">Click Here</a></td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>HTML - CSS TASK: 3</td>
                    <td><a href="/Dashboard/htmlcsstask3">Click Here</a></td>
                </tr>

            </tbody>
        </table>

        <a href="/">Go to Main Page</a>
    </div>
</body>

</html>