<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        a {
            text-decoration: none;
            color: darkslategray;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>24DEV078 JEEL PATEL</h1>
        <p>Login Succeessful!!!</p>
        <ul>
            <li><a href="/Dashboard/dynamictable">Exercise-1 Dynamic Table</a></li>
        </ul>
        <a href="/">Go to Main Page</a>
    </div>
</body>

</html>