<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        a {
            text-decoration: none;
            color: darkslategray;
            font-weight: bold;
        }

        li {
            height: 30px;
            text-decoration: none;
            border: 1px solid black;
            list-style-type: none;
        }

        .container {
            max-width: 700px;
            text-align: center;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>24DEV078 JEEL PATEL</h1>
        <p>Login Succeessful!!!</p>
        <ul>
            <li><a href="/Dashboard/dynamictable">Exercise-1 Dynamic Table</a></li>
            <li><a href="/Dashboard/kukucube">Exercise-2 Kukucube</a></li>
            <li><a href="/Dashboard/tiktactoe">Exercise-3 Tiktactoe </a></li>
            <li><a href="/Dashboard/eventtable">Exercise - 4 Event Table</a></li>
            <li><a href="/Dashboard/Mergesort">Exercise - 5 Merge Sort</a></li>
            <li><a href="/listdatabase">Exercise -6 Listing of data with pagination</a></li>
            <li><a href="/Dashboard/orderby">Exercise -7 Adding sorting with pagination</a></li>
            <li><a href="/report">Exercise -8 Attendence Report</a></li>
            <li><a href="/result">Exercise -9 Exam Records</a></li>
            <li><a href="/Dashboard/searching">Exercise -10 Searching Exercise</a></li>
            <li><a href="/Dashboard/delimetersearch">Exercise- 11 Delimeter Search Exercise</a></li>
            <!-- <li><a href="/Dashboard/form">Exercise -11 Job_Application_form (Insert Operation)</a></li>
            <li><a href="/Dashboard/update">Exercise - 12 Job Application form(Update Operation)</a></li> -->
            <li><a href="/Dashboard/postapi">Exercise -12 Json Web Api Exercise</a></li>
            <li><a href="/Dashboard/statecity">Exercise - 13 State-City combo using ajax</a></li>
            <li><a href="/Dashboard/ajaxform">Exercise- 14 Job Applicatin form Using Ajax</a></li>
        </ul>
        <a href="/">Go to Main Page</a>
    </div>
</body>

</html>