<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        a {
            text-decoration: none;
            color: darkslategray;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>24DEV078 JEEL PATEL</h1>
        <p>Login Succeessful!!!</p>
        <ul>
            <li><a href="/Dashboard/dynamictable">Exercise-1 Dynamic Table</a></li>
            <li><a href="/Dashboard/kukucube">Exercise-2 Kukucube</a></li>
            <li><a href="/Dashboard/tiktactoe">Exercise-3 Tiktactoe </a></li>
            <li><a href="/Dashboard/eventtable">Exercise - 4 Event Table</a></li>
            <li><a href="/Dashboard/listdatabase">Exercise -5 Listing of data with pagination</a></li>
            <li><a href="/Dashboard/orderby">Exercise -6 Adding sorting with pagination</a></li>
            <li><a href="/report">Exercise -7 Attendence Report</a></li>
            <li><a href="/result">Exercise -8 Exam Records</a></li>
        </ul>
        <a href="/">Go to Main Page</a>
    </div>
</body>

</html>