<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style3/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Hire-X</title>
</head>

<body>
  <header class="first-page">
    <div class="container">
      <div class="navbar">
        <div class="company-logo">
          <img src="/style3/HireX_black.png" alt="" />
        </div>
        <div class="nav-menu">
          <a href="#Hosting">Works</a>
          <a href="#integration">About us</a>
          <a href="#pricing">Blogs</a>
          <a href="#community">FAQs</a>
          <a href="#community">Contact us</a>

          <button class="nav-login-button">We're Hiring &#8594</button>
        </div>
      </div>
    </div>
  </header>

  <section class="section-1">
    <div class="container">
      <div class="first-main">
        <div class="first-left">
          <div class="first-welcome">
            <p>WELCOME TO HIREX.</p>
            <img src="/style3/Star 1.png" alt="">
          </div>
          <h1>Award Winning Digital Agency</h1>
          <p>Digital Agency offering unique solutions to create digital presence and increase your sales</p>
          <div class="first-field">
            <input type="text" name="firsttext" class="first-text">
            <button class="first-button">Request access</button>
          </div>
          <div>
            <i class="fas fa-triangle"></i>
            <div class="first-popup">

              <p>Open account and get 5 boxes</p>
            </div>
          </div>

        </div>
        <div class="first-right">
          <div class="orange">
            <img class="first-image" src="/style3/image 2 (Traced).png" alt="">
            <p class="first-para">Web Design</p>
          </div>
          <div class="yellow">
            <img class="first-image" src="/style3/image 6 (Traced).png" alt="">
            <p class="first-para">Social Midia</p>
          </div>
          <div class="green">
            <img class="first-image" src="/style3/image 1 (Traced).png" alt="">
            <p class="first-para">UIX Design</p>
          </div>
          <img class="first-newimage" src="/style3/Group 6.png" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="section-2">
    <marquee>
      <div class="second-main">
        <!-- <marquee > -->
        <div class="second-content">
          <p class="second-para">
            GET ACCESS NOW!
          </p>
          <img src="/style3/image-fBLQvAFN1-transformed 1.png" alt="">
        </div>
        <div class="second-line">
          <img class="line-image" src="/style3/Line 4.png" alt="">
        </div>
        <div class="second-content">
          <p class="second-para">
            GET ACCESS NOW!
          </p>
          <img src="/style3/image-fBLQvAFN1-transformed 1.png" alt="">
        </div>
        <div class="second-line">
          <img class="line-image" src="/style3/Line 4.png" alt="">
        </div>
        <div class="second-content">
          <p class="second-para">
            GET ACCESS NOW!
          </p>
          <img src="/style3/image-fBLQvAFN1-transformed 1.png" alt="">
        </div>
        <div class="second-line">
          <img class="line-image" src="/style3/Line 4.png" alt="">
        </div>
        <div class="second-content">
          <p class="second-para">
            GET ACCESS NOW!
          </p>
          <img src="/style3/image-fBLQvAFN1-transformed 1.png" alt="">
        </div>
        <div class="second-line">
          <img class="line-image" src="/style3/Line 4.png" alt="">
        </div>

        <!-- <div class="second-content">
            <p class="second-para">
              GET ACCESS NOW!
            </p>
            <img src="image-fBLQvAFN1-transformed 1.png" alt="">
          </div>
          <div class="second-line">
            <img class="line-image" src="Line 4.png" alt="" >
          </div>
          <div class="second-content">
            <p class="second-para">
              GET ACCESS NOW!
            </p>
            <img src="image-fBLQvAFN1-transformed 1.png" alt="">
          </div>
          <div class="second-line">
            <img class="line-image" src="Line 4.png" alt="" >
          </div>
          <div class="second-content">
            <p class="second-para">
              GET ACCESS NOW!
            </p>
            <img src="image-fBLQvAFN1-transformed 1.png" alt="">
          </div>
          <div class="second-line">
            <img class="line-image" src="Line 4.png" alt="" >
          </div> -->
      </div>
    </marquee>
  </section>
  <section class="section-3">
    <div class="container">
      <div class="third-content">
        <label class="third-service">
          Services
        </label>
        <h2>How Hirex. Work</h2>
        <p>The awesome people who makes all this possible</p>
      </div>
      <div class="third-row">
        <div class="third-card">
          <p class="third-para">START HERE</p>
          <h4 class="third-heading">Who we are & what we do</h4>
          <img src="/style3/Designer _Flatline 1.png" alt="">
          <div class="thirdbutton">
            <button class="third-button" id="tbutton1">START HERE &#8594</button>
          </div>
        </div>
        <div class="third-card">
          <p class="third-para">CUSTOM DESIGN</p>
          <H4 class="third-heading">We'll design your projects</H4>
          <img src="/style3/Notifications_Flatline 1.png" alt="">
          <div class="thirdbutton">
            <button class="third-button" id="tbutton2">START HERE &#8594</button>
          </div>
        </div>
        <div class="third-card">
          <p class="third-para">CONTACT US</p>
          <H4 class="third-heading">Drop us your message!</H4>
          <img src="/style3/Fortnite_Two Color 1.png" alt="">
          <div class="thirdbutton">
            <button class="third-button" id="tbutton3">START HERE &#8594</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-4">
    <div class="container">
      <div class="fourth-main">
        <div class="fourth-content">
          <label class="works">
            Works
          </label>
          <h2>Find our latetest works</h2>
          <p>The awesome people who makes all this possible</p>
        </div>

        <div class="fourth-row">
          <div class="fourth-card">
            <img src="/style3/Rectangle 13.png" alt="">
            <label for="webdesign" class="fourth-heading">Web design</label>
            <p class="fourth-para">Website Design For Digital Agency</p>
            <p class="fourth-para2">Build a unique Website with HireX Template</p>

            <div class="readmore">Read more &#8594</div>
          </div>
          <div class="fourth-card">
            <img src="/style3/Rectangle 13-1.png" alt="">
            <label for="3ddesign" class="fourth-heading">3D Design</label>
            <p class="fourth-para">Realistic 3d Model of living Room</p>
            <p class="fourth-para2">build a unique Website with HireX Template</p>
            <div class="readmore">Read more &#8594</div>

            <div class="fourth-main-button"><button class="fourth-button">View All &#8594</button></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-5">
    <div class="container">
      <div class="fifth-main">
        <div class="fifth-content">
          <h2>Plans & Pricing</h2>
          <p>The awesome people who makrs all this possible</p>
        </div>
        <div class="fifth-row">
          <div class="fifth-card">
            <p class="fifth-heading">FREE</p>
            <p class="fifth-heading"><strong class="fifth-doller">$0</strong>/MONTH</p>

            <p class="fifth-para">Start free while you learn more about our services</p>



            <div>
              <p><i class="fa-solid fa-check"></i>Free forever get this basic essentials</p>
              <p><i class="fa-solid fa-check"></i>Advanced security and performance</p>
              <p><i class="fa-solid fa-check"></i>Unlimited unhosted sites</p>
              <p><i class="fa-solid fa-check"></i>Live support</p>
            </div>
            <div class="fifth-main-button">
              <button class="fifth-button" id="tbutton1">GET STARTED</button>
            </div>
          </div>
          <div class="fifth-card">
            <p class="fifth-heading">Basic</p>
            <p class="fifth-heading"><strong class="fifth-doller">$19</strong>/MONTH</p>
            <p class="fifth-para">Get powerful tools to make your business grow</p>


            <div>
              <p><i class="fa-solid fa-check"></i>Free forever get this basic essentials</p>
              <p><i class="fa-solid fa-check"></i>Advanced security and performance</p>
              <p><i class="fa-solid fa-check"></i>Unlimited unhosted sites</p>
              <p><i class="fa-solid fa-check"></i>Live support</p>
            </div>
            <div class="fifth-main-button">
              <button class="fifth-button" id="tbutton2">GET STARTED</button>
            </div>
          </div>
          <div class="fifth-card">
            <p class="fifth-heading">PRO</p>
            <p class="fifth-heading"><strong class="fifth-doller">$99</strong>/MONTH</p>
            <p class="fifth-para">Take your business to the next level with our tools</p>


            <div>
              <p><i class="fa-solid fa-check"></i>Free forever get this basic essentials</p>
              <p><i class="fa-solid fa-check"></i>Advanced security and performance</p>
              <p><i class="fa-solid fa-check"></i>Unlimited unhosted sites</p>
              <p><i class="fa-solid fa-check"></i>Live support</p>
            </div>
            <div class="fifth-main-button">
              <button class="fifth-button" id="tbutton3">GET STARTED</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-6">
    <div class="container">
      <div class="sixth-main">
        <div class="sixth-row">
          <div class="sixth-card1">
            <img class="sixth-arrow" src="/style3/arrow-left-2.png" id="leftarrow" onclick="leftfunc()">
            <img class="sixth-image" src="/style3/testimonials-img.png" alt="">
          </div>
          <div class="sixth-card2">

            <p class="sixth-main-para">"We select to practice in Minerva since it is both useful, and our clients
              basically adore it ! it has stood the test of time and proceeds"</p>
            <p class="sixth-para">Abel Carden is a Tik Tok personality and lip-sync content creator who has built a
              fanbase of more than 3.2 million followers on the platform.</p>

          </div>
          <!-- <div class="sixth-card3">

                <p class="sixth-main-para">"We select to practice in Minerva since it is both useful, and our clients basically adore it ! it has stood the test of time and proceeds"</p>
                <p class="sixth-para">Abel Carden is a Tik Tok personality and lip-sync content creator who has built a fanbase of more than 3.2 million followers on the platform.</p>
               
              </div>
              <div class="sixth-card4">

                <p class="sixth-main-para">"We select to practice in Minerva since it is both useful, and our clients basically adore it ! it has stood the test of time and proceeds"</p>
                <p class="sixth-para">Abel Carden is a Tik Tok personality and lip-sync content creator who has built a fanbase of more than 3.2 million followers on the platform.</p>
               
              </div> -->
          <div class="sixth-card-arrow">
            <img class="sixth-arrow2" src="/style3/arrow-right-2.png" id="rightarrow" onclick="rightfunc()">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-7">
    <div class="container">
      <div class="seven-main">
        <div class="seven-content">
          <label for="blog" class="seven-heading">Blog</label>
          <h3 class="seven-heading2">Stay updated</h3>
        </div>
        <div class="seven-row">
          <div class="seven-card">
            <img src="/style3/Rectangle 19.png" alt="">
            <label class="fourth-heading">Web deisgn</label>
            <p class="fourth-para">We Launch Minerva Template this week!</p>
            <p class="fourth-para2">Build a unique Website with HireX Template</p>
            <div class="readmore">
              Read more &#8594
            </div>
          </div>
          <div class="seven-card">
            <img src="/style3/Rectangle 20.png" alt="">
            <label class="fourth-heading">Web deisgn</label>
            <p class="fourth-para">Introducing the Non-code Webflow Guide</p>
            <p class="fourth-para2">Build a unique Website with HireX Template</p>
            <div class="readmore">
              Read more &#8594
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <section class="section-8">
    <div class="container">
      <div class="eight-main">
        <div class="eight-left">
          <h3 class="eight-heading">Get our latests news & updates</h3>

          <div class="eight-left-content">
            <input type="text" class="eight-name" placeholder="NAME">
            <!-- <hr> -->
            <input type="text" class="eight-name" placeholder="EMAIL">
            <!-- <hr> -->
            <div class="eight-subs">
              <input type="text" class="eight-name" placeholder="SUBSCRIPTION">
              <img src="arrow-right-black.png" alt="">
            </div>

            <!-- <hr> -->
          </div>
        </div>
        <div class="eight-right">
          <p>We select to practice in Minerva since it is both useful and commonsense, and our clients basically adore
            it</p>
          <div>
            <button class="eight-button">Book a Call</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-9">
    <marquee class="nine-main">
      <!-- <div class="nine-main"> -->
      <div class="nine-content">
        THANK YOU FOR YOUR VISIT
        <img src="/style3/Line 4.png" alt="line" style="margin:20px ;">

        THANK YOU FOR YOUR VISIT
        <img src="/style3/Group 59.png" alt="group" style="margin: 5px;">THANK YOU FOR YOUR VISIT

      </div>

      <!-- </div> -->
    </marquee>
    <!-- <div class="nine-main">
          
          <div class="nine-content">
            <p class="nine-text">THANK YOU FOR YOUR VISIT</p>
          </div>
          <div>
            <img src="Line 4.png" alt="" height="50px" width="9px">
          </div>
         
          <div class="nine-content">
            <p class="nine-text">THANK YOU FOR YOUR VISIT</p>
          </div>
          <div>
            <img src="Group 59.png" alt="">
          </div>
          
          <div class="nine-content">s
            <p class="nine-text">THANK YOU FOR YOUR VISIT</p>
          </div>
        </div> -->
  </section>
  <section class="section-10">
    <div class="container">
      <div class="ten-main">
        <p class="ten-heading">HIreX.</p>
        <hr>
        <div class="ten-list">
          <div>
            <ul>Products
              <li>Platform</li>
              <li>Store Overview</li>
              <li>Email Reports
              </li>
              <li>Portfolio</li>
            </ul>

          </div>
          <div>
            <ul>Resources
              <li>Case Studies</li>
              <li>Product Guides</li>
              <li>Reports</li>
              <li>Blog</li>
              <li>FAQ</li>
            </ul>

          </div>
          <div>
            <ul>Company
              <LI>Careers</LI>
              <li>Contact Sales</li>
              <li>contact Support</li>
            </ul>
          </div>
          <div>
            <ul>Partners
              <li>Partner With Us</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    function leftfunc() {
      var arrow = document.getElementById("leftarrow");
      arrow.style.opacity = 0.6;
    }

    function rightfunc() {
      var arrow2 = document.getElementById("rightarrow");
      arrow2.style.opacity = 0.6;
    }
  </script>
</body>

</html>