<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style1/style1.css" />
  <title>ehya</title>
</head>

<body>
  <section class="firstpage">
    <div class="container">
      <div class="navbar">
        <div class="page1-logo">
          <img class="logoimage" src="/style1/Logo.svg" alt="logo of company" />
        </div>
        <div class="page1-menu">
          <a href="#home">Home</a>

          <a href="#landing">Landing</a>

          <a href="#pages">Pages</a>

          <a href="#docs">Docs</a>

          <a href="#help">Help</a>

          <button class="firstbutton">Get it Now</button>
        </div>
      </div>

      <div class="page1-middle">
        <div class="firstcol1">
          <img src="/style1/Hero.png" alt="first-page image" />
        </div>

        <div class="firstcol2">
          <h1>Make your new life happier</h1>
          <p class="middlepara">
            We work with several insurance companies to secure insurance
            coverages tailorded to meet your need
          </p>
          <div class="page1-button">
            <button class="mainbutton">Get a consulation</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="secondpage">
    <div class="container">
      <div class="paragraph">
        <h5 class="greencolor">OUR SERVICES</h5>
        <h3 class="middlepara">Insurance made simple for you</h3>
        <p class="smallpara">
          We work with several leading insurance companies to secure insurance
          coverages tailored to meet your needs.
        </p>
      </div>
      <div class="list">
        <ul class="secondlist">
          <li>
            <img class="trueimage" src="/style1/true.jpg" alt="true mark images" />
            <p>Flexible products to make your life easier</p>
          </li>
          <li>
            <img class="trueimage" src="/style1/true.jpg" alt="true mark images" />
            <p>Highest standards of service</p>
          </li>
          <li>
            <img class="trueimage" src="/style1/true.jpg" alt="true mark images" />
            <p>Fast and reliable serviece</p>
          </li>
        </ul>
      </div>
      <div class="insurancelist">
        <div class="homeinsurance">
          <img src="/style1/Icon_Home.svg" alt="homeinsurance" />
          <h5 class="middlepara">Home insurance</h5>
          <p class="lightparagraph">
            Home insurance is a type of insurance policy that provides cover
            for your home.
          </p>
        </div>
        <div class="lifeinsurance">
          <img src="Icon_Blood_Donation.svg" alt="homeinsurance" />
          <h5 class="middlepara">Life insurance</h5>
          <p class="lightparagraph">
            Helping you bridge gaps in your health care coverage during times
            of transtion.
          </p>
        </div>
        <div class="carinsurance">
          <img src="/style1/Icon_Car.svg" alt="homeinsurance" />
          <h5 class="middlepara">Car insurance</h5>
          <p class="lightparagraph">
            Car insurance is a type of insurance policy that provides cover
            for your car.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="theirdpage">
    <div class="container">
      <div class="theirdpara">
        <h5 class="tips">OUT TIPS FOR YOU</h5>
        <h3 class="theirdpara2">Reinventing your protection</h3>
        <p class="lightparagraph">
          We share common trends, strategies ideas, opinions, shorts & long
          stories from the team behind company.
        </p>
      </div>
      <div class="imagegroup">
        <div class="firstimage">
          <img src="/style1/Image.png" alt="" />
          <div class="insidefirstimage">
            How to prevent and protect your family from carbon monoxide
          </div>
        </div>
        <div class="secondimage">
          <img src="/style1/Image2.png" alt="" />
          <div class="insidesecondimage">
            Motherhood is the hardest and the best job ever
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="forthpage">
    <div class="container">
      <div class="fourthrows">
        <div class="fourthcol">
          <h5 class="greencolor">YOUR BENEFITS</h5>
          <h3 class="fourthcol1">We're your right insurance advocate</h3>
        </div>
        <div class="fourthcol">
          <img src="/style1/Donation.svg" alt="donation image" />
          <h4 class="fourthcol1">We have the best prices</h4>
          <p class="lightparagraph">
            Our insurance plans offers are priced the same everywhere else.We
            just make them easier for you to find.
          </p>
        </div>
        <div class="fourthcol">
          <img src="/style1/Icon_Protection.svg" alt="protectionicon" />
          <h4 class="fourthcol1">We're your insurance advocate</h4>
          <p class="lightparagraph">
            We will deal with the insurance companies for you. even after
            you've bought your plan.
          </p>
        </div>
        <div class="fourthcol">
          <img src="/style1/Icon_Neutron.svg" alt="neutron image" />
          <p class="lightparagraph">
            Our online tools help you decide what product is best for you.
            We're here to insurance plan you choose.
          </p>
        </div>
        <div class="fourthcol">
          <img src="/style1/Icon_CS.svg" alt="cs image" />
          <p class="lightparagraph">
            We have your back 24/7 between our online chat function, email,
            and telephone support.
          </p>
        </div>
        <div class="fourthcol">
          <img src="Icon_Like.svg" alt="like image" />
          <p class="lightparagraph">
            We're committed to making applying for insurance as simple as can
            be for our customers.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="fifthpage">
    <div class="container">
      <div class="fifthcontainer">
        <div class="fifthpage1">
          <div class="avtar">
            <img src="/style1/Avatar-1.png" alt="avtar-1" />
            <img src="/style1/Avatar-2.png" alt="avtar-2" />
            <img src="/style1/Avatar.png" alt="avatar" />
          </div>
          <h6 class="fourthcol1">
            <strong>Friendly</strong> customer support team
          </h6>
        </div>
        <div class="fifthpage2">
          <div class="path">
            <img src="/style1/Path.svg" alt="pathimage" />
            <h4>Trustpilot</h4>
          </div>
          <div class="fivestar">
            <img src="/style1/s.svg" alt="fivstar" />
            <img src="/style1/s.svg" alt="pathimage" />
            <img src="/style1/s.svg" alt="pathimage" />
            <img src="/style1/s.svg" alt="pathimage" />
            <img src="/style1/s.svg" alt="pathimage" />
          </div>

          <h6 class="fourthcol1">
            <strong>4.6 out of 5 stars</strong>from 8.6k reviews
          </h6>
        </div>
        <div class="fifthpage3">
          <img src="/style1/Icon_Like.svg" alt="like icon" />
          <h6 class="fourthcol1">
            We're making <strong>insurance as simple as </strong> can be
          </h6>
        </div>
      </div>
    </div>
  </section>
  <div class="lastpage">
    <div class="lastcontainer">
      <div class="lastfirstpart">
        <img src="/style1/Logo_white.svg" alt="white logo">
        <h6>build a modern creative website</h6>
      </div>
      <div class="lastsecondpart">
        <div>
          <h3 class="lastparagraph">Ready to get insured ? Submit your request and hear back as soon as tomorrow </h3>
        </div>
        <div>
          <input type="text" placeholder="Your Email">
          <button>Get Started</button>
        </div>

      </div>
    </div>
  </div>

</body>

</html>