<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        .container {
            max-width: 700px;
            margin: 0 auto;
            text-align: center;
        }

        .nav {
            display: flex;
            justify-content: space-around;

        }

        .btn-main {
            margin: 20px;
            /* height: 40px; */
            /* width: 100px; */
            border-radius: 10px;
            padding: 10px;
            background-color: darkslateblue;
        }

        a {
            color: white;
            text-decoration: none;
        }

        body {
            /* background-image: url("bg7.webp"); */
            background-color: rgb(163, 175, 198);
            background-size: 100%;
        }

        h1 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 25px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>24DEV078 JEEL PATEL</h1>

        <div class="nav">

            <a href="/register">
                <div class="btn-main">
                    Register
                </div>
            </a>
            <a href="/login">
                <div class="btn-main">
                    Log-in
                </div>
            </a>
        </div>

    </div>
</body>

</html>