<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .postcontainer {
        display: flex;
        flex-direction: column;
      }
      a {
        margin: 50px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>24DEV078 JEEL PATEL</h1>
      <div class="postcontainer">
        <a href="/post">Post List With Pagination</a>
        <a href="/postdetails/1">Post Details With Comments</a>
      </div>
    </div>
  </body>
</html>
